// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/*color*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-gray:(light:#f6f6f6, medium:#eaeaea,dark:#353535);

$breakpoints: (
        'small': 320px,
        'medium': 768px,
        'large': 1024px,
) !default;


